<html lang="en" xmlns:th="http://www.thymeleaf.org"
  th:replace="~{
    base::html(
        ~{::title},
        ~{::content},
        ~{},
        ~{}
    )
  }"
>

<title>Add New Product</title>

<th:block th:fragment="content">

  <form method="POST" th:object="${product}">
    <div>
        <label>Name:</label>
        <input type="text" th:field="*{name}" class="form-control"/>
    </div>
    <div>
        <label>Description:</label>
        <textarea th:field="*{description}" class="form-control"></textarea>
    </div>
    <div>
        <label>Price:</label>
        <input type="number" th:field="*{price}" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary">Create Product</button>
  </form>



</th:block>

</html>