<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{base::html(
        ~{::title},
        ~{::content},
        ~{::additionalCss},
        ~{}
    )}"
>

<th:block th:fragment="additionalCss">
    <link rel="stylesheet" href="style.css">
</th:block>

<title>Atas Travel Gear</title>

<th:block th:fragment="content">
    <h1>Welcome to TravelGear</h1>
    <img src="stuff.jpg" id="champion-image"/>
    <p>Your one-stop place to stock up onall
        your travelling essentials
    </p>
    <p>Current Date Time: <span th:text="${currentDateTime}"></span></p>
</th:block>


</html>